<mat-sidenav-container class="container">
  <mat-sidenav #menuSidenav class="fullscreen-nav" position="start">
    <layout-toolbar
      [menuSidenav]="menuSidenav"
      [profileSidenav]="profileSidenav"
    ></layout-toolbar>

    <layout-sidenav-content [sidenav]="menuSidenav">
      <mat-list class="menu-options">
        <mat-list-item>Mi perfil</mat-list-item>
        <mat-list-item>Conciertos</mat-list-item>
        <mat-list-item>Contacto</mat-list-item>
      </mat-list>
    </layout-sidenav-content>
  </mat-sidenav>

  <mat-sidenav #profileSidenav class="fullscreen-nav" position="end">
    <layout-toolbar
      [menuSidenav]="menuSidenav"
      [profileSidenav]="profileSidenav"
    ></layout-toolbar>

    <layout-sidenav-content [sidenav]="profileSidenav">
      perfil aqui
    </layout-sidenav-content>
  </mat-sidenav>

  <mat-sidenav-content>
    <layout-toolbar
      [menuSidenav]="menuSidenav"
      [profileSidenav]="profileSidenav"
    ></layout-toolbar>

    <div class="content">
      <ng-content></ng-content>
    </div>

    <layout-footer></layout-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
